[2014-12-05 16:29] MoOx opened #2 "add exclude pattern"
Would be nice to have the ability to do `--exclude=/node_modules/`

[2014-12-05 16:30] MoOx opened #3 "support regex"
would be nice to have the ability to do '/.jsx?$/' (like with webpack)
:)

[2014-12-10 21:27] reggi opened #4 "How do I pass multiple commands with && or alternative?"
**_This Works_**

I can pass a command to send a notification when the file is changed.

[code]

**_This doesn't work_**

I'm trying to run two commands `cd` and `terminal-notifier` with a `&&` in between and it's not working

[code]

**_This Works_**

I can run this in the terminal no problem and it works.

[code]

How do I pass multiple commands to run when a file is saved?

**_Update_**

Got it

[2014-12-10 22:07] reggi opened #5 "Using changed file name or path in script"
I don't know if this exists already but it would be really nice to be able to pipe in the name of the file changed to the command that runs.

Like this:

[code]

[2014-12-12 19:45] reggi opened #6 "error when no command passed argument"
[code]

so i have to do something silly like

[code]

[2015-01-09 16:32] mattecapu opened #8 "ENOENT when running npm scripts"
This command
[code]
Fails regardlessly of what `bar` do.
This is the error it raises:
[code]
I'm experiencing this only when trying to execute an `npm` script, the same command passed directly to `onchange` works fine. I'm running Windows 8.1.

[2015-01-09 19:55] Qard commented on #8
Weird. It works fine in Linux and OSX. I'll have to see if I can find a Windows box to do some testing on.

[2015-01-19 10:17] jannavratil opened #9 "Time stamp in console log output"
Hi,
did you plan add time stamp to log output? Could be via some argument.
For example:
[code]
will be

[code]

Did you plan this or semothing similar?
Thanks for answer.

[2015-01-21 17:42] JakeGinnivan opened #10 "Exits on windows after a few seconds"
`"watch-tests": "onchange 'test/thing.tests.js' -- node test/thing.tests.js",` exits after a few seconds.

If I remove the single quotes it works fine

`"watch-tests": "onchange test/thing.tests.js -- node test/thing.tests.js",`

[2015-01-21 17:43] JakeGinnivan commented on #5
This would be great.

[2015-01-21 18:20] reggi commented on #5
This is already possible with `xargs` I got deep here's a good starting point

http://unix.stackexchange.com/a/173846/11440
https://github.com/keithamus/npm-scripts-example/issues/4#issuecomment-66808338

[2015-01-28 13:36] JakeGinnivan commented on #8
I get the same thing when trying to run jshint.

[code]

[2015-01-28 13:38] JakeGinnivan commented on #8
Related to https://github.com/joyent/node/issues/2318 by the looks

[2015-01-28 13:40] JakeGinnivan commented on #8
Fixed by changing the command to `onchange foo.js -- jshint.cmd foo.js`

[2015-01-30 13:38] mattecapu commented on #8
@JakeGinnivan yay, you found the problem!
While the folks at Joyent solve the bug, we could switch to [cross-spawn](https://github.com/IndigoUnited/node-cross-spawn)
It claims to solve `child_process.spawn` problems (including the ignoring of PATHEXT that causes our issue).
As soon as I have some time to test it (not before sunday, unfortunately), I can make a pull request.

[2015-02-02 16:57] #8 closed

[2015-02-02 17:14] Qard commented on #10
I don't do anything with the quotes, so it probably has something to do with how Windows handles quotes in child_process.spawn. I've merged that cross-spawn PR, is this fixed by that? I don't have a Windows machine set up to test on.

[2015-02-04 16:40] JakeGinnivan commented on #10
The cross-spawn PR didn't fix this. I just updated and still have the same issue

[2015-02-13 15:34] bitinn commented on #10
If you are using windows command prompt, you might be running into this, basically, single quote isn't the same on windows.

- http://superuser.com/questions/324278/how-to-make-windows-command-prompt-treat-single-quote-as-though-it-is-a-double-q
- http://stackoverflow.com/questions/24173825/what-does-single-quote-do-in-windows-batch-files

[2015-02-21 03:25] #2 closed

[2015-02-21 03:27] Qard commented on #5
This is possible in 1.0.0 by using `{{changed}}` anywhere in the command after `--`.

[2015-02-21 03:27] #5 closed

[2015-02-21 03:30] #3 closed, assigned to nobody

[2015-02-21 03:33] Qard commented on #4
Doing `npm run change-happened` seems good enough for me. I'm closing this, as I'm not going to bother adding something like this myself. I'm open to PRs though, if the method seems reasonable.

[2015-02-21 03:33] #4 closed

[2015-02-21 03:37] Qard commented on #9
I went the other direction entirely and hid logging behind a `DEBUG=onchange` environment variable via [debug](https://npmjs.org/package/debug). I don't think I'll add timestamps to that. You can simply add timestamps to your change script, if you really want it. In bash, it's just `date +%s`.

[2015-02-21 03:37] #9 closed

[2015-02-21 03:41] Qard commented on #6
With 1.0.0, you can simply do `onchange '*.ext' -- echo "{{changed}}" | other-script` to get a stream of filenames as changes occur. Does that work for what you need?

[2015-02-21 03:42] #10 closed

[2015-02-22 01:06] reggi commented on #5
:clap:

[2015-03-06 03:22] shovon opened #18 "Logging?"
I understand [`debug`](https://github.com/visionmedia/debug) is used for logging. But maybe we should have either

a. instructions on how to enable logging
b. *actually* display logging by default
c. anything that isn't going to confuse anyone

I'm about to make a pull request but not sure what would be the best thing.

What do you think, @Qard?

[2015-03-06 06:53] Qard commented on #18
I think minimal noise is best for the tool. The DEBUG flag could be documented though.

[2015-03-07 07:25] #18 closed

[2015-03-12 13:49] webpro opened #20 "Ignored node_modules"
`node_modules` are [excluded](https://github.com/Qard/onchange/blob/bd27449e09556fec5d935d499e7e35d88a5854bd/index.js#L44-L45), but I'd like to watch a specific dir in one dependency (that I've `npm link`-ed).

Any workaround possible for this? Maybe simply an option to not exclude the pattern would do.

[2015-04-28 12:50] raybooysen opened #22 "A change while executing is not picked up"
If you use something like this:

onchange 'app/**/*.js' 'test/**/*.js' -- npm test

while npm test is executing, if there is another change to any of the watched files, npm test will not occur again.

[2015-04-28 21:49] Qard commented on #22
That is expected behaviour. I haven't yet figured out what the best way to deal with that is.

Currently, the runner blocks new runs from starting while another is in-progress. Having parallel runs could cause unexpected behaviour. I thought about maybe using a queuing model, but that could easily grow faster than it is drained, especially with long-running actions like running a test suite.

Perh

[2015-04-29 08:24] raybooysen commented on #22
I think there are 2 options:

1) If a watch is detected while a run is in progress, abort and start again - I think the grunt watch task does this.
2) Or another option is to have a quiet period.  I quite like this idea, where, when a change is detected, wait for x ms for another change before kicking off the task.  This is common when you're making lots of changes to files and then want a build t

[2015-08-05 11:48] limzykenneth commented on #22
I've sent a pull request that includes simply logging a message saying the new action is skipped.

I really like the idea of a queue though.

[2015-09-08 12:59] fatuhoku opened #25 "Add flag to trigger first run"
Currently `onchange` only runs on when it detects a file change. However, onchange is incredibly useful when used as a part of a command line tool, and therefore should run at least once e.g. when firing up some unit tests.

[2015-09-10 02:43] Qard commented on #25
You could also just do something like `npm test && onchange '*.js' -- npm test` rather than just `onchange '*.js' -- npm test`.

[2015-09-28 19:43] webpro commented on #20
Closing due to inactivity.

[2015-09-28 19:43] #20 closed

[2015-10-19 00:25] dacodekid opened #27 "Multiple Glob Arguments Triggers the Command Twice"
When supplying two or more glob patterns, noticed couple behaviors opposed to supply just one pattern.

1. The below code triggers ```npm test``` twice
2. ```npm test``` runs immediately after I run ```npm start```

[code]
(But I'm not sure whether it is really triggers the ```npm test``` twice or displays the output twice. Because changing the command to ```"test": "clear && blue-tape test/*.js |

[2015-10-19 03:45] Qard commented on #27
Not sure why it'd be doing that. I'll have a look tomorrow.

[2015-10-20 00:50] dacodekid commented on #27
@Qard, thx but now it doesn't look like it is ```onchange```'s behavior. I just changed my tests from ```tape``` to ```mocha - chai``` and the same ```onchange``` command works as it should. This could be either ```tape / blue-tape``` issue (even after removing ```tap-desc``` reporter, got the same double output - that could be the reason why the clear command didn't run twice).

If you could conf

[2015-11-09 13:21] #27 closed

[2016-01-23 02:58] blakeembrey commented on #25
@Qard I think this would be a pretty handy addition. I don't have a use-case that doesn't need this yet, so there's that.

[2016-01-23 04:41] blakeembrey opened #28 "Long running processes"
Thoughts on supporting long running processes? Reason: I'd love to continue using `onchange` but I want to use it for a slightly different use-case. In this case, I need to combine it with an initial flag and if it's running on reload kill the current process and spawn a new one.

If it seems reasonable, I can definitely open a PR. I can also make it throttle changes with this implementation.

[2016-01-23 19:27] Qard commented on #28
That seems more like a hot-reloading tool. That's not really what this is meant for.

Can you elaborate more on why you'd want to use this particular tool for something like that, versus something like [recluster](https://www.npmjs.com/package/recluster) or [herd](https://www.npmjs.com/package/herd)?

[2016-01-23 21:18] blakeembrey commented on #28
I'm just after a simple CLI that will reload on change, I don't need a specific tool for clustering or hot code reloading. Right now I use `nodemon`, but the functionality is pretty much equivalent to what this library already does. Figured it'd be easier to kill two birds with one stone - make reloads while already running work and add initial run support, then my use-case is already working.

[2016-01-28 18:46] antoinerey commented on #25
`npm test && onchange '*.js' -- npm test` could work, but won't start the `onchange` part if the first `npm test` fails

[2016-01-28 19:39] Qard commented on #25
Just replace the `&&` with `;` and it'll work, even if `npm test` fails.

I'm unlikely to have the time to do this anytime soon, but I'd be happy to accept a PR, if you want to write one.

[2016-01-29 18:34] blakeembrey commented on #25
@Qard You can't use `;` on Windows though. The PR I made (https://github.com/Qard/onchange/pull/29) added this feature, but there's also a few other features. If it makes sense, I can put all the new changes behind flags to make it easier to merge.

[2016-03-02 22:29] #28 closed

[2016-03-02 23:18] blakeembrey commented on #25
Released with https://github.com/Qard/onchange/releases/tag/v2.1.0

[2016-03-02 23:18] #25 closed

[2016-03-02 23:19] blakeembrey commented on #6
Released with https://github.com/Qard/onchange/releases/tag/v2.1.0

[2016-03-02 23:19] #6 closed

[2016-03-02 23:19] blakeembrey commented on #22
Released with https://github.com/Qard/onchange/releases/tag/v2.1.0. The current process will be killed and spawn a new process.

[2016-03-02 23:19] #22 closed

[2016-03-03 06:10] raybooysen commented on #22
Thanks!
On 2 Mar 2016 23:19, "Blake Embrey" <notifications@github.com> wrote:

[2016-04-01 01:16] unional opened #31 "Multiple changes trigger onchange in parallel."
Or until the triggered command completes, don't fire the the command again.

Use case:
Quickly make changes to several files.

Result:
Multiple build+test has been triggered at close interval, most of the time before the previous command(s) complete.

[2016-04-01 18:56] Qard commented on #31
It's probably better to cancel and restart in that sort of situation. Processing for the later changed files may have already occurred before they were saved, then you have a result that is perhaps not what is expected.

[2016-04-01 19:25] unional commented on #31
That would be nice.

[2016-04-01 20:22] blakeembrey commented on #31
Thanks for the report, theoretically this should already be happening but let me recreate some tests and make sure.

[2016-04-01 20:35] blakeembrey commented on #31
@unional I can't seem to replicate it, the way the current code works is that it attempts to close the current process but it won't start a new process until the current one closes. Are you seeing this not happening and can you share where?

![image](https://cloud.githubusercontent.com/assets/1088987/14219308/719669b4-f80e-11e5-84e2-aac67a41947c.png)

In that example it was all invalid but only wh

[2016-04-01 20:49] unional commented on #31
Typings projects with test might able to reproduce it easier. See `typed-iscroll`. I'm out for lunch so don't have computer to get output

[2016-04-01 21:02] blakeembrey commented on #31
Perhaps using `exit` instead of `close` events might improve this? Would you want to test it using `exit` events instead of `close` and see how that goes?

[2016-04-01 21:09] unional commented on #31
Ok

[2016-04-03 13:45] adilu opened #32 "{{changed}} parameter does not always contain the correct file."
When I create a watcher:
`onchange "build/**/*" -- echo {{changed}} {{event}}`

...and in my folder, I have 2 files: `test.js `and `test.js.map`

...now, if I change ONLY the file `test.js`
the onchange watcher echoes: `test.js.map changed`
(of course I made sure that test.js.map did not change).

Thanks for your great and useful work!

[2016-04-03 21:36] blakeembrey commented on #32
@adilu I'll see if I can replicate it, but it doesn't sound like it'd be an issue here - we're just using https://www.npmjs.com/package/chokidar and the code on top is pretty simple.

[2016-04-08 21:48] adilu commented on #32
OK, thank you! Yes, it is of course possible that the problem is in a dependency, I didn't check the code. It is also possible that it's my fault, though I could replicate the mistake even when I boilt it down to a very simple testcase. The event and the change say: `test.js.map` `change` although I did only change a file called test.js (with no automatic sourcemap generation or anything active).

[2016-04-08 22:08] unional commented on #31
I tried in my code and it did trigger multiple times.
The script
{
  "scripts": {
    "watch": "onchange \"**/*.ts\" -e \"**/*.d.ts\" -i -- npm run -s lint+test",
    "lint+test": "npm run lint && npm test",
  }
}
[code]

[2016-04-08 22:16] unional commented on #31
When I try with `exit`, it throws with this:
[code]
I tried to both:
- https://github.com/Qard/onchange/blob/master/index.js#L55 to `exit`
- and/or https://github.com/Qard/onchange/blob/master/index.js#L37 and https://github.com/Qard/onchange/blob/master/index.js#L29 to `exit`

[2016-04-08 22:17] blakeembrey commented on #31
Thanks @unional! I'm going to get some tests up and running this week and resolve it properly.

[2016-04-12 02:57] blakeembrey commented on #31
@unional I can't handle NPM scripts properly, it seems that it doesn't wait for the child to exit. I'll find an issue related to this, I recall it somewhere, but I'm not sure there's much that can be done beyond this. The kill behaviour is kind of nice, maybe I can make a flag to instead enable the wait to re-run behaviour I've also implemented.

[2016-04-12 02:58] blakeembrey commented on #31
@unional See this issue: https://github.com/kimmobrunfeldt/concurrently/issues/4.

[2016-04-12 02:58] #31 closed

[2016-04-12 03:40] blakeembrey commented on #31
@unional You may be interested in https://github.com/Qard/onchange/releases/tag/v2.3.0 until the NPM changes. If you pass `-w`, it'll wait for the current process to finish before restarting so you don't run multiple in parallel.

[2016-04-12 05:54] unional commented on #31
Thank, as always! :smile:

From this:
https://github.com/kimmobrunfeldt/concurrently/issues/4#issuecomment-205964746
Does this mean it is fixed in npm 3.8.1?

[2016-04-12 16:29] blakeembrey commented on #31
It would appear so. So child processes should properly exit after 3.8.1. If it doesn't, you can at least use the new `-w` option.

[2016-04-14 23:24] unional commented on #31
Confirmed that `-w` works but npm 3.8.1 changes doesn't. :+1:

[2016-05-06 18:11] thefabulousdev opened #34 "Idea: --once flag"
Would be cool to have a `--once` flag which would execute the given command on change only once, this could also be implemented as `--times x`  where `--once` is just an alias for `--times 1`, this is useful for bootstrap tasks that rely on foreign tasks to create/update bootstrap configuration.

[2016-05-06 18:19] blakeembrey commented on #34
Can you give an example or elaborate more? Technically tasks currently run once on change, do you perhaps mean something more like a timeout?

[2016-05-06 18:31] thefabulousdev commented on #34
Rephrasing: Would be cool to be able to limit the amount of times a script can be executed, for example
[code]
and to perhaps have an alias for `--times 1` like
[code]

After the scripts have been run the specified amount of times, the process exits

[2016-05-06 18:52] thefabulousdev commented on #34
I do not mean, every time `myfile.json` changes the script will hapen once or twice on the previous examples, but the file change will be listened once or twice

[2016-05-07 01:43] blakeembrey commented on #34
Can you write an example use-case? I think that would make the most sense. I'm still not quite understanding, sorry. I mean, I think I understand the how, just not the why.

[2016-05-10 07:19] thefabulousdev commented on #34
After giving it a thought, every usecase I might give is a product of a bad implementation of a build process. Closing issue.

[2016-05-10 07:19] #34 closed

[2016-07-26 08:09] unional opened #36 "onchange fire by itself (ts-node related)"
I use `onchange` in npm script to watch file changes to re-run tests.

I notice for some reason `onchange` has detect changes out of nowhere and keep rerunning the tests

I look at the files and notice `.git/FETCH_HEAD` is updating continuously. I believe it is done by VSCode.

However, my `onchange` call does not listen to the `.git` folder (of course).
My call is `onchange -w -i \"src/**/*.ts\ -

[2016-07-27 18:24] unional commented on #36
I look into it further and somehow it seems like it is actually `ts-node` related. If I don't run the tests, `onchange` doesn't fire again.

To complete the story:

[code]

If I run `onchange -w -i \"src/**/*.ts\" -- echo "running"`, it does not fire again.
If I run `onchange -w -i \"src/**/*.ts\" -- ts-node node_modules/blue-tape/bin/blue-tape.js \"src/**/*.spec.ts\"`, it does.

[2016-07-27 18:26] unional commented on #36
Is there a way to combine the test running and `-- echo '{{event}} to {{changed}}'` to show what has happened?

By the way, I don't know how the `{{event}} to {{changed}}` works.

[2016-07-27 20:52] Qard commented on #36
`{{event}}` and `{{changed}}` are templates that get replaced anywhere in the command after the `--`. You could try something like `/bin/sh -c "echo '{{event}} to {{changed}}' && my-command"` to combine two commands. You'll have to make sure you escape the double quotes properly, if you put that in your package.json file.

[2016-07-27 21:43] unional commented on #36
Thank! That's really helpful.

I discovered the issue is within the project test cases themselves.

[2016-07-27 21:43] #36 closed

[2016-07-27 22:39] Qard commented on #36
Great, glad you worked it out. 😸

[2016-08-12 11:05] gertcuykens opened #37 "onchange 'src/**/*.{js,jsx}' -v -w -- babel-node src/index.jsx > dist/index.html"
How do you get the output of the command you want to run in a file?

`onchange 'src/**/*.{js,jsx}' -v -w -- babel-node src/index.jsx > dist/index.html`

The above will get the output from `onchange` instead of `babel-node src/index.jsx`

Tried `onchange 'src/**/*.{js,jsx}' -v -w -- (babel-node src/index.jsx > dist/index.html)` but gave me a error

[2016-08-25 04:45] bfred-it commented on #37
`>` is part of the shell and probably `onchange` doesn't use that to run commands. watchify uses [outpipe](https://www.npmjs.com/package/outpipe) for this functionality:

[code]

[2016-08-25 06:00] blakeembrey commented on #37
I'm not sure that we'd need `outpipe` here, it serves the purpose of re-running the same CLI flow but `onchange` has always been about running just the command. Perhaps this needs to be a new option, but I'd need to understand the current issue a little better.

The pipe works for me, but the pipe won't be closing each time since it's being piped from `onchange` (which is receiving it's `stdout` a

[2016-08-25 07:34] bfred-it commented on #37
That's the point, `onchange` could change to run not just one but more commands. For example I was trying to run `xo && ava` but that wasn't possible. Outpipe would allow that and any other commands that work with `>`

[2016-08-25 07:49] blakeembrey commented on #37
I understand that, but I was asking @gertcuykens what his use-case was and what exactly wasn't working. It wasn't clear from the original post whether literally nothing worked, or it just didn't work as expected. For example, the output of `onchange` should be identical to `babel-node`, which is why I asked for more info.

On the `-o` feature, I love it and would love to add it. I definitely don't

[2016-08-25 12:02] gertcuykens commented on #37
Basicly what I wanted was if a file changes just render me a server html page. Inside index.jsx is a `console.log(HTML)` line that prints my server page html `babel-node src/index.jsx > dist/index.html` But index.html did contain the stdout from onchange not the `console.log(HTML)` from babel script. The workaround for me was create a `build.sh` script that had `babel-node src/index.jsx > dist/ind

[2016-08-25 14:16] bfred-it commented on #37
@gertcuykens if it's a node app you can also use npm scripts instead of creating a separate file

[2016-08-30 06:56] blakeembrey commented on #37
@gertcuykens When you say it contained the `stdout` from `onchange` and not from the script, can you give an example? Is it the verbose mode output or something else?

[2016-08-30 17:24] Qard commented on #37
It's an issue with bash operation priority. The `>` symbol won't even *get* to onchange because bash will already have decided to do something else with it. The only way to do more complicated things like that is to do it indirectly through a bash file or an npm script, as already discovered.

[2016-08-30 17:28] bfred-it commented on #37
It's not the only way, I posted a solution used by browserify in the first comment

[2016-08-30 17:36] Qard commented on #37
That's not real bash. That's also indirect.

[2016-08-30 18:10] bfred-it commented on #37
Sure, but it's better than having to create a file, especially when the command is written on the fly in the cli or if you want Windows compatibility.

[2016-08-30 20:31] Qard commented on #37
With npm scripts, you don't need to create a new file. Not speaking against the outpipe idea, just clarifying my statements. 😉

[2016-09-23 21:38] theskillwithin opened #38 "runs but doesn't work?"
[code]

it seems to run but when I change the file and save, nothing happens.

if I manually npm run build:css that will work.

[code]
OSX

(https://github.com/damonbauer/npm-build-boilerplate/blob/master/package.json)

[2016-09-24 00:49] blakeembrey commented on #38
I don't see any `src/assets` folder in the project you linked to. Are you working on a branch?

[2016-09-24 02:11] theskillwithin commented on #38
@blakeembrey

oops here is the repo of the project I am working on, those were just the starter files I started with.

https://github.com/theskillwithin/hrtcup

[2016-09-25 02:19] blakeembrey commented on #38
It worked for me. Can you make sure that's the command you run? Could you also make sure that you're in the right working directory when you run that? Aside from that, I don't think it's an issue with `onchange` because the change events come directly from `chokidar` - perhaps searching their issues and finding out if it's an existing issue may help.

[2016-09-27 23:21] theskillwithin commented on #38
Oh wow I just tried running the pure command in cli again like I did originally to diagnose.  Now it works all sudden.

onchange 'src/assets/css/**/*.sass' -v -- npm run build:css

![screen shot 2016-09-27 at 4 17 15 pm](https://cloud.githubusercontent.com/assets/8095506/18895361/ee3347fc-84cd-11e6-88cb-66ee2a73053e.png)

[2016-10-09 22:07] #38 closed

[2016-12-01 19:35] ssylvia opened #39 "Doesn't watch files in node_modules directory"
Have the following npm script:
[code]

It seems to work on everything but the last node_modules path

[2016-12-01 19:39] blakeembrey commented on #39
That is intentional, see https://github.com/Qard/onchange/blob/master/cli.js#L32-L35.

[2016-12-01 19:45] ssylvia commented on #39
No way to add an exception if I point to a specific directory?

[2016-12-01 19:48] blakeembrey commented on #39
Sure, it can be changed so that you can do `--no-exclude` or something similar. Feel free to submit a PR.

[2016-12-01 20:46] redheadedstep opened #40 "Allow usePolling option in chokidar to handle nfs mounts"
Basically, I code to a local directory on Mac OS X that is exported/mounted into a Debian VM via NFS.  Right now, if I change a file in OS X, nothing is triggered to chokidar (and subsequently to onchange).  If I touch the file within the VM or edit it within the VM, it is triggered and passed through to onchange.

From what I can tell, onchange uses chokidar(https://github.com/paulmillr/chokidar)

[2016-12-01 21:11] blakeembrey commented on #40
Watchify isn't related to chokidar, in fact, it uses chokidar. However, there's no option currently in `onchange`. You can use the environment variable specified in https://github.com/paulmillr/chokidar#performance until it does exist. I'd be happy to accept a PR that mirrors the CLI options added in watchify to here.

[2016-12-01 22:26] redheadedstep commented on #40
Thanks for the quick response.  I hadn't seen that env variable earlier.

I was able to get on change to work from what I originally had in package.json:

`
{
  "watch": "onchange src/ -i -v -- npm test -s"
}
`

changed to:

`
{
  "watch": "CHOKIDAR_USEPOLLING=true onchange src/ -i -v -- npm test -s"
}
`

It takes an extra few seconds to find the files (probably from the polling), but it's better

[2016-12-02 18:25] #39 closed

[2016-12-02 18:42] #40 closed

[2016-12-02 20:42] blakeembrey commented on #37
Just implemented https://github.com/Qard/onchange/pull/44. If command is specified, it'll pipe the output from command into `-o`. If not, it just runs it directly using `exec`.

[2016-12-02 21:08] #37 closed

[2016-12-26 21:43] marco-eckstein opened #45 "Watch option broken in 3.1.0"
Starting from 3.1.0, the watch option (-w, --watch) is broken. Processes are killed. 3.0.2 is still good.

[2016-12-27 15:28] blakeembrey commented on #45
Thanks for the catch, it looks like I've accidentally shadowed the options I was using from the global function. Pushing a patch now. Just FYI, it's `--wait` too - see https://github.com/Qard/onchange#wait--w---wait

[2016-12-27 15:33] blakeembrey commented on #45
Fixed in https://github.com/Qard/onchange/releases/tag/v3.2.1. Was previously broken by https://github.com/Qard/onchange/commit/8762f157db42985df2164949702e3f5640c41b0d. Thanks again!

[2016-12-27 15:33] #45 closed

[2016-12-29 13:42] marco-eckstein commented on #45
Thanks for the quick fix! I will check it out next week when I am back to work. I have edited the title and description, because I was incorrectly referring to the "watch" option instead of "wait".

[2017-01-06 22:56] ksnyde opened #46 "parameter passing to npm-run-all"
I'm using the `npm-run-all` package to parallelize and/or serialize my watcher events and in order to get incremental transpiling working I need to be able to pick up the `{{changed}}` variable you're passing downstream.

When I pass `changed` to shell script I do get_changed_ variable but if I pass this through `npm-run-all` it doesn't make it through the abstraction.  I guess in most ways the qu

[2017-01-06 22:59] ksnyde commented on #46
For additional context, here's an example of what I'm trying to do:

    "what-changed": "echo '{{event}} in {{chnaged}}'",
    "watch:test": "onchange 'test/*.ts' 'lib/**/*.js' -- run-s what-changed build:test mocha"

[2017-01-11 18:09] Qard commented on #46
The parameter replacement is literally just a text replace of those symbols in the text after the `--` in the calling line before running it. If you use an indirect caller like you are, the symbols don't appear in the text after the `--` symbol and therefore nothing gets replaced. Not too sure if there's a way around that. You might be able to stuff the values in environment variables and retrieve

[2017-02-15 18:50] joncursi opened #47 "Detect changes at any depth based on glob pattern"
Is there a way to tell onchange to run for a `.js` file at any depth beneath some `src/` folder?

Right now, running:

[code]

only re-runs for files two levels deep, i.e. `src/someFolder/file.js` , but will not run for `src/file.js` or `src/someFolder/anotherFolder/file.js`.

I suppose this would work:

[code]

But that is a silly solution to the problem that would have to be updated every time a

[2017-02-15 18:52] blakeembrey commented on #47
This is should be how it works today, but because you aren't using quotes the files are probably being expanded by your shell and not `onchange`. Try putting your glob in quotes.

[2017-02-15 18:52] #47 closed

[2017-02-15 19:59] joncursi commented on #47
@blakeembrey you the man! 🎉

[2017-02-15 21:23] blakeembrey commented on #47
@joncursi Thanks, it's the type of thing that gets everyone the first time 😄

[2017-02-19 06:15] joncursi opened #48 "Ability to clear before running command"
The following does not work unfortunately:

[code]

After the console clears, it just hangs there and never gets to the test command.

[2017-02-19 06:17] joncursi commented on #48
FWIW, using `npm-run-all` solves this if you create a `clear` task that simply clears:

[code]

[2017-02-19 06:43] blakeembrey commented on #48
That's expected, this is still a regular shell so you wrote `&&` after `onchange` finishes, which it would never by design. You could put that command into any single npm script and it would work. You could also use the `--outpipe` option introduced from https://github.com/Qard/onchange/issues/37.

[2017-02-19 06:43] #48 closed

[2017-04-07 06:55] hadrien-toma opened #49 "Way to stop listening on changes"
Hi there, I am wondering if there is a cross-platform way to stop listening on changes. For instance, do you have an idea of how to achieve this behavior:

- In my `package.json`:
[code]

- In my terminal:
[code]

PS : Really usefull/powerfull package, thank you!

[2017-04-07 14:41] blakeembrey commented on #49
I can't think of any way beyond writing the PID to disk and reading it again later to kill the process. Not sure if something similar to that works on Windows. If there is, I can look at building it into the package, but until then I'll leave the issue open for others to comment.

[2017-08-02 15:31] hadrien-toma commented on #49
I finally use `pm2` (cross-platform) in order to wrap the `onchange` command, this way my `package.json`'s script section looks like:
[code]
So I am now able to stop listening `onchange` in a cross-platform way!

[2017-08-09 06:27] alex-page opened #50 "Windows 10 non existent folders causes onchange to fail"
When running onchange in windows 10 I can get the function to work when I have the `app` directory:
`onchange \"app/**/*.js\"  -- npm test`

However it doesn't work when I have the `app` directory but not the `test` directory:
`onchange \"app/**/*.js\" \"test/**/*.js\"   -- npm test`

There seems to be an issue with non existent folders when using onchange on Windows 10.

[2017-08-09 21:55] blakeembrey commented on #50
Have you tried single quotes? I don't use Window personally, but I know there's some oddities. On another note, I'd just recommend combining them in a glob pattern: `{app,test}/**/*.js`.

[2017-08-09 22:29] alex-page commented on #50
I did try single quotes, that doesn't work at all. There is documentation about the quotes in the `readme.md`:

I am not sure if I can combine them in a glob pattern like you recommend as my actual code looks more like this:
`"watch:sass": "npm run build && onchange 'src/sass/*.scss' 'tests/docs/*.scss' -- npm run build"`

[2017-08-09 23:14] blakeembrey commented on #50
You can do `{src/sass,tests/docs}/*.scss` instead. Seems like an odd issue, hopefully someone else can come along to provide more light on the issue.

[2017-08-09 23:16] blakeembrey commented on #50
Oh, I misread the issue too - this is specifically when starting the command and the directory doesn't exist? What's the error? This looks like something we should log in `chokidar`.

[2017-08-09 23:17] blakeembrey commented on #50
Does this sound related: https://github.com/paulmillr/chokidar/issues/346?

[2017-08-09 23:18] alex-page commented on #50
It's definitely that issue cheers mate.

[2017-08-09 23:19] blakeembrey commented on #50
Ok, so you can do `onchange --poll` to enable polling. Does that improve things?

[2017-08-09 23:21] alex-page commented on #50
I did try `--poll` but it still failed silently in windows when the directory doesn't exist.

For instance I made changes in `src/sass/*.scss` and even with `--poll` on it refused to refresh if the `tests` directory was non existent.

[2017-08-23 12:09] Phyks opened #51 "changed does not contain correct values for initial run"
Hi,

When using `-i` for initial run, it seems that `{{ changed }}` is undefined. It would be awesome to have `{{ changed }}` contains all the listened files, to be able to have a single command for both initial run and watching.

This way, we could do something like

[code]

Thanks!

[2017-08-23 23:36] blakeembrey commented on #51
What would "all the listened files" be to you? We can't put them all in a single string since that won't work across environments. Do you want the command executed multiple times instead or something else?

[2017-08-24 11:42] Phyks commented on #51
Sorry, my original post was not very clear :/ Indeed, I was thinking of emitting one changed event per watched file, as if all the watched files had just been `touch`ed.

Thanks!

[2017-08-24 15:57] blakeembrey commented on #51
That makes more sense 😄  We can add a flag that we pass through to `ignoreInitial` in `chokidar` - https://www.npmjs.com/package/chokidar#path-filtering

[2017-09-24 22:24] greenkeeper[bot] opened #52 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-09-30 09:44] ZeHiro opened #54 "Watching a single file triggers update only once"
When setting a watch for a single file for example :
`./node_modules/onchange/cli.js "./server/weboob/main.py" -v -- cp '{{changed}}' ./build/server/weboob/`

- on first change to the watched file, the command is executed
- the command is not changed anymore if this file is changed again

[2017-09-30 09:46] ZeHiro commented on #54
No propblem if i run this command:
`./node_modules/onchange/cli.js "./server/weboob/*.py" -v -- cp '{{changed}}' ./build/server/weboob/`

[2017-10-27 21:55] #52 closed

[2017-11-14 11:03] jnachtigall opened #56 "Saving multiple files (File > Save all) triggers onchange only once or twice"
FWIW, I left a (now closed) report at https://github.com/prettier/prettier/issues/3264

On Windows 10 with VSCode and git bash I am seeing this:
Change 3 files and "Save all", this happens:

[code]

FWIW, I also changed a 3rd file `tasks\config\clean.js` which does not get fired.

[2017-11-15 05:36] blakeembrey commented on #56
It may be better to look into chokidar. All events are provided by the underlying path watcher. I'll also check for some updates on this side.

[2017-12-07 16:24] milesrichardson opened #57 "Running "git diff" on a file causes onChange to think the file was changed"
Simple usage of `onChange`:

[code]

Then I run:

[code]
(also happens running like this):

[code]

verbose log then says:

[code]

Perhaps this is not a bug, and `git diff` actually modifies the file somehow? I searched around google for `git diff` modifying files and couldn't find anything.

Note that after running `git diff`, `ls` shows the modification time has NOT changed.

It's a simple thin

[2018-02-21 12:18] wangbourne opened #61 "Can we show timestamp after triggering an action"
In practice, I hope I can see the timestamp, so I will be confident that it is indeed triggered. Thanks

[2018-03-10 17:54] gurumojo commented on #61
Enjoying this lib. Thanks to the maintainers!

I liked the sound of this request and gave my +1, imagining a `Timestamp (-t, --timestamp)` echo option.

... went searching and found https://github.com/Qard/onchange/issues/9 with guidance to add the equivalent of `date +%s` to a change script.

[2018-04-07 11:33] blakeembrey commented on #61
@wangbourne What exactly would you like to see? I'm taking a guess, but is this only for verbose mode logging?

[2018-04-07 11:35] blakeembrey commented on #57
This module is a small wrapper around the large body of work in `chokidar`. I'd considering searching for or logging an issue with them, unfortunately there's not a ton of support for file-system issues here 😄

Reference: https://github.com/Qard/onchange/blob/73c96a8d4414dfd839b6d94863eee0d572533b14/index.js#L5

[2018-04-07 11:35] #57 closed

[2018-04-11 19:55] rosskevin opened #62 "TypeError: Cannot read property 'on' of undefined"
I attempted to use this with `ts-node` watching two different trees, but on first change I received the following:

[code]

Any ideas?

[2018-05-07 15:32] greenkeeper[bot] opened #63 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="https://github.com/Qard/onchange/compare/master...Qard:greenkeeper%2Fupdate-to-node-10">open

[2018-06-16 03:43] alex-page commented on #50
I'm going to close this issue as it's related to chokidar.

[2018-06-16 03:43] #50 closed

[2018-07-01 18:09] #63 closed

[2018-07-09 09:19] alexk111 opened #65 "Onchange is called two times on a file save"
Sometimes when I save a file, onchange executes twice. Probably the editor (_VS Code for Windows_) does multiple calls for OS' write functions hooked by chokidar.

[2018-07-15 17:16] blakeembrey commented on #65
Fixed with https://github.com/Qard/onchange/pull/66.

[2018-07-15 17:16] #65 closed

[2018-07-16 22:50] felixfbecker commented on #56
I think this is a bug in `onchange`. When using `-v`, I can see that `onchange` noticed that `foo.js` changed, but it only executed the command for `foo.d.ts`:
[code]
Same issue without `-w`:

[code]
Note how the command was never executed for `foo.js`, only `foo.js.map`.

[2018-07-17 17:10] blakeembrey commented on #56
@felixfbecker Thanks for the example! I think I understand the issue better now. It might be related to the lack of queuing internally - only one subprocess is expected to run at the same time. I'll think about how to improve this as it certainly would be an issue in your case. What do you feel is the expected behaviour - do we spawn multiple subprocesses at the same time (e.g. new flag `-c`) or c

[2018-07-17 17:20] felixfbecker commented on #56
In my case, handling events concurrently is fine, but it doesn't really matter as the command I want to run is fast. It would just need to make sure logs don't get mangled.

[2018-09-30 01:15] blakeembrey commented on #61
Closing without any response. Feel free to use the script to emit the date.

[2018-09-30 01:15] #61 closed

[2018-09-30 01:55] #56 closed

[2018-10-01 04:30] adilu commented on #32
OK, thanks!

[2018-10-01 06:24] mikolajzieba opened #68 "Onchange doesn't recognize the "--poll" flag"
When tryingto run nochange with a "--pool" or "-p" flag, I get an error.

`onchange -p '**/*.js' -- npm test`
Error:
`Usage: onchange [...file] -- <command> [...args]`

`+ onchange@5.0.0`

[2018-10-01 15:37] blakeembrey commented on #68
Thanks. This is probably a limitation of the CLI parser actually. I didn’t think of it when I wrote it, but it probably can’t support boolean and number in the same argument. Can you try with an poll interval number for now and I’ll update the documentation?

[2018-10-01 19:57] sharedprophet opened #69 "childOutpipe should be childCommand"
https://github.com/Qard/onchange/blob/1e13588218be9958d55f7a574cc855ab7685e57a/index.js#L74

[2018-10-02 04:47] blakeembrey commented on #69
Thanks! Resolved with https://github.com/Qard/onchange/commit/1e8ad66d883ded6850adc34149b41197d1b4de53.

[2018-10-02 04:47] #69 closed

[2018-10-02 04:50] blakeembrey commented on #68
Clarified documentation in https://github.com/Qard/onchange/commit/7b5c03806eab4fce89b4e30413ad310e44987977.

[2018-10-02 04:50] #68 closed

[2018-10-10 01:28] benjrichardson opened #70 "Onchange does not detect changes when used in a directory with parenthesis"
To reproduce, create a directory with parenthesis in the name. For example, testdir(2). Then run a command like:

`onchange "**/*.scss" -- echo "{{event}} to {{changed}}"`

Onchange then fails to recognize any changes made to any files in the directory. It also seems to happen in any subfolders, for example if I run onchange in something like testdir(2)/foo/whatever.

[2018-10-10 03:40] blakeembrey commented on #70
This seems like it'd be an issue with `chokidar`, which is the library we use to watch for file changes: https://github.com/paulmillr/chokidar

[2018-10-21 20:19] p-vogt opened #71 "Configure threshold time of "--await-write-finish""
Hi, thanks for this nice package.

I'd like to configure the "threshold time" of `--await-write-finish`, as stated in the readme:

Is this really possible? If so, how?

I just got it working by adjusting chokidar's `stabilityThreshold` directly in the code:

[code]

[2018-10-21 22:09] blakeembrey commented on #71
The original PR is https://github.com/Qard/onchange/pull/66. It looks like the message is incorrect. You're welcome to submit a PR to add this functionality.

[2018-11-03 21:07] #71 closed

[2018-11-09 15:02] Dhq commented on #56
I know this is closed, but is there a way to get the old behaviour back? I am interested in only triggering the event once even if multiple files change at (almost) the same time. Like some kind of debounce functionality.  @blakeembrey

[2018-11-09 15:06] Dhq commented on #56
Ah, the `-k` flag does what I wanted. Never mind :)

[2018-11-21 04:54] betsu opened #75 "Outpipe opts not defined"
There is my code:
[code]

in v4.0.0 is working, but in v5.0.0 still error
[code]

[2018-11-22 04:36] #75 closed

[2018-11-22 04:36] blakeembrey commented on #75
Thanks for the report! Should be fixed with the next release.

[2018-11-23 04:44] betsu opened #77 "outpipe"
Thanks for fixed #76 .
I use v5.1.1 and run the same pipe code
[code]
css.txt still no content and I get  those message
[code]
 after I try running this code
[code]
css.txt is witted and exit code looks fine!
[code]
what's happen in first code?

[2018-11-24 00:15] blakeembrey commented on #77
@betsu So I couldn't see any difference between this v5 and v4 code paths here and I wasn't able to replicate your problem, but I've pushed out `5.1.2` to experiment with what _might_ be the issue here by fixing the end of stdout and stderr writes. Can you let me know if it makes a difference? Also, did this work for you on v4?

[2018-11-26 03:36] betsu commented on #77
Hi @blakeembrey,
v4 have same problem and message for me.
`5.1.2` it's work fine! but still have one problem:
I use  win10. when `${process.execPath}` has space in string that make error for me.
[code]
 `try to writing to no exit pipe` looks fixed! then I try to fixed `${process.execPath}` problem with add double quotes
[code]
and running.
[code]
Oh! success!!

P.S. In line 68
` childOutpipe.stdin

[2018-11-26 04:19] blakeembrey commented on #77
@betsu Thanks! That makes sense. Looks like an escaping issue, I'll look into how to better fix that.

[2018-11-26 04:59] blakeembrey commented on #77
@betsu Can you take a look at ?

I settled using single quotes with https://stackoverflow.com/questions/1250079/how-to-escape-single-quotes-within-single-quoted-strings. I first went with https://github.com/substack/node-shell-quote but saw https://github.com/substack/node-shell-quote/pull/34, don't use Windows so I'm not sure about whether you can escape backslashes there? I saw in your example a

[2018-11-26 11:50] betsu commented on #77
@blakeembrey I have already tested at #78,  there's no need to escape the backslashes when add double quotes.
Hope it'll help you.

[2018-11-27 03:08] betsu commented on #77
@blakeembrey
 I'm sorry for too late to reply,  single quotes in windows still have error massage
[code]
I don't know what's better solution, maybe detecting window then add double quote?

[2018-11-27 10:45] betsu commented on #77
@blakeembrey I understand you worried about double quote's problem. But this issue (path with space) that seems like only double quote can be solved on windows. In node `exec` document [https://nodejs.org/dist/latest-v10.x/docs/api/child_process.html#child_process_child_process_exec_command_options_callback](https://nodejs.org/dist/latest-v10.x/docs/api/child_process.html#child_process_child_proce

[2018-12-02 21:32] theprobugmaker opened #79 "Changes not being triggered on Docker"
I have this simple setup for testing purposes:

`Dockerfile`:
[code]

`docker-compose.yml`:
[code]

`index.js`:
[code]

In  my `package.json` I have a script that is:

[code]

It does work locally in my computer, however when running in a Docker container it doesn't detect the changes and nothing happens.

[2018-12-02 23:31] blakeembrey commented on #79
@zefexdeveloper So the file watcher is chokidar. I didn't find much on Docker, but I did find https://github.com/paulmillr/chokidar/issues/590. Have you had any luck with chokidar directly or any other file watchers for node.js?

[2018-12-03 00:31] zefexdeveloper commented on #79
@blakeembrey I haven't tried chokidar directly on docker to be honest. I was using `nodemon` with the legeacy watcher but I'm having a lot of problems with it and for that reason I'm looking for an alternative, I tried to use `onchange` (hoping it would work) but for some reason it doesn't.

[2018-12-03 00:34] blakeembrey commented on #79
@zefexdeveloper Can you try https://github.com/Qard/onchange#poll--p-ms---poll-ms as a workaround for now? It might be an issue with the mounted directory in Docker so polling would be a workaround (I know Windows mounted partitions have a similar issue).

[2018-12-03 00:57] zefexdeveloper commented on #79
@zefexdeveloper It's having the same problem as I was having with `nodemon`, it seems to not be closing the process and trying to open another one.

https://github.com/remy/nodemon/issues/1477

[2018-12-03 06:05] blakeembrey commented on #79
@zefexdeveloper You're saying it isn't closing the previous process before starting a new process? That seems odd since it listens for `exit` on the process before spawning another, but I'll have to give it a go to replicate. Do you have a simple repo with the above configuration to get started there? I can do it myself too, but it may take a bit longer to get around to is all 😄

[2018-12-03 06:09] zefexdeveloper commented on #79
@blakeembrey Yes, it's really weird, but it's like opening a new process and that is why it's saying that the port is already in use.
I don't have a repo with the configuration I sent, I can do that later (it's 4AM for me right now), or you can try in the mean time. (if possible)

[2018-12-09 09:03] rafamel opened #80 "onchange v5 does not preserve colors"
Just upgraded to onchange@5.1.3, and looks like colors are not preserved for the command run by onchange on the stdout -it wasn't an issue on v4. It can be replicated by running, for example, eslint, with any warnings or errors.

[2018-12-09 10:12] blakeembrey commented on #80
Can you give a replication repo? There isn’t any change between the versions that I’m aware of for this. It always just does a direct pipe of stdout. It’s possible some other TTY detection was introduced into ESLint that’s different.

[2018-12-09 10:33] rafamel commented on #80
[This repo](https://github.com/rafamel/onchange_ex) reproduces the issue. Doing `npm i && npm start` on the `v4` folder (onchange v4) will work as desired; doing the same on the `v5` folder (onchange v5) will not.

I'm running Node v8.12.0 on a MacOS High Sierra.

[2018-12-09 20:42] blakeembrey commented on #80
I took a quick look how a similar library does it, and it works using env flags. Would that be an adequate solution here? Ref: https://github.com/kimmobrunfeldt/concurrently/blob/313de5305f74f99c8c1215860473890ae1f1cc28/src/get-spawn-opts.js#L11

The reason it worked before and doesn't work now was because of the explicit `tty` of `process.stdout` when using the `stdio` option.

[2018-12-09 22:54] #80 closed

[2018-12-09 23:10] blakeembrey commented on #77
@betsu Sorry for the delay. Releasing https://github.com/Qard/onchange/pull/82 now, let me know if it works (I was concerned about the use of backslashes on Windows still).

[2018-12-10 07:34] rafamel commented on #80
Thanks for the quick resolution! Already tested the new release and it works like a charm!

[2018-12-12 09:38] betsu commented on #77
@blakeembrey Sorry I'm late. I already tested that is working good!
Thanks for release :smiley:

[2018-12-12 13:39] zefexdeveloper commented on #79
@blakeembrey It was fixed in `nodemon`, the problem `ps tree` a module based on `node-kill-tree`, the same module you are using. That is how it was fixed:

https://github.com/remy/pstree/commit/5f58daf1e13038b279d6e79e608040eb5e07a36e

[2018-12-15 03:02] dandevs opened #83 "">" appends to file, not overwriting"
eg: `"**/*.js" -- echo "banana" > foo.txt` will just concatenate "banana" instead of the expected behavior, which is to overwrite.

[2018-12-15 03:05] dandevs commented on #83
Sorry, should had read more of the readme

[2018-12-15 03:05] #83 closed

[2019-03-30 15:28] mifi opened #85 "How to detect hidden files change?"
File named `.hidden`

[2019-04-08 23:04] rjhilgefort commented on #80
I'm having trouble getting this to work- output remains all white. Any pointers/example on how to configure this?

[2019-05-09 18:32] blakeembrey commented on #85
Possibly https://github.com/paulmillr/chokidar/issues/577#issuecomment-278147894, but I suspect there's not enough hooks exposed to do this better. We can add something to support you if you want to contribute.

[2019-05-14 09:00] ferhatelmas opened #88 "Chokidar 3.0 is out with massive improvements"
https://github.com/paulmillr/chokidar/releases/tag/3.0.0

[2019-05-14 15:15] blakeembrey commented on #88
I’m aware, thanks! https://github.com/Qard/onchange/pull/87

I just haven’t cut a new major release yet. I’ll try and get to it this week.

[2019-05-14 15:20] ferhatelmas commented on #88
Thanks, looking forward to it.

[2019-05-19 05:37] blakeembrey commented on #88
Merged with https://github.com/Qard/onchange/pull/87.

[2019-05-19 05:37] #88 closed

[2019-09-06 02:27] vinyfc93 opened #93 "[FEATURE REQUEST] Support for '--ignore-path' flag as ​​eslint and prettier"
Hi guys!

I would like to have the '--ignore-path' flag to ignore files as I do with eslint and prettier.
Given a folder structure like:
[code]
We would have:
[code]
I don't know if this is possible or interesting for you, but I like this approach, and I'm willing to work on it if you think it's a good idea.

What do you say?

[2019-09-06 04:21] blakeembrey commented on #93
Have you tried the exclude flag?

[2019-09-06 06:14] vinyfc93 commented on #93
@blakeembrey, yes! I Tried.

[2019-09-06 06:54] vinyfc93 commented on #93
Maybe I wasn't clear ...

The sample folder structure was just to show what .gitignore would be called.

My actual use case is a big monorepo I'm working on. I have to ignore several different paths that, perhaps not coincidentally, match the files in my .gitignore.

Let's go to a new example:

[code]

I have to edit the '-e' flag whenever I do something that changes the ignore requirement. If my

[2019-09-06 15:09] blakeembrey commented on #93
That makes more sense. Happy to accept a PR for it, it should reuse whatever functionality the other modules have built out.

[2019-09-08 19:10] vinyfc93 commented on #93
Done! Looking forward to the feedback.

[2019-09-10 01:34] #93 closed

[2019-10-04 14:10] ovanderzee opened #96 "Could npm ERR logs be prevented when the command has warnings"
I use onchange to run eslint and then build my plugin on saving sources. When eslint finds errors, I get logs like these:

    npm ERR! code ELIFECYCLE
    npm ERR! errno 1
    npm ERR! openrgb@1.1.0 build: `eslint src/rgb.js && terser src/rgb.js --source-map --output dist/openrgb.js`
    npm ERR! Exit status 1
    npm ERR!
    npm ERR! Failed at the openrgb@1.1.0 build script.
    npm ERR! This i

[2019-10-04 21:26] blakeembrey commented on #96
This is an NPM feature, you can always disable it with the “silent” flag: https://docs.npmjs.com/cli/run-script

[2019-10-04 21:26] #96 closed

[2019-10-19 16:34] devinrhode2 commented on #48
If you are doing something other than `yarn test` - perhaps where you are executing a .js file with node, you may want to clear console at the top of that .js file with this code:

[code]

[2019-10-19 21:09] blakeembrey commented on #48
@devinrhode2 I'd be happy to incorporate that code into this module first-class. It sounds useful to have. Could either have a `--before` flag in the CLI for a command to run first (e.g. opposite of `--outpipe` which would clear afterwards) and you could use it with something like https://www.npmjs.com/package/cli-clear, or make a specify `--clear` flag.

[2019-10-20 14:40] devinrhode2 commented on #48
Feel free to drop it in. It would be nicer than what I have now. What I have now will "clear" my npm script command, so developers cant see what files are being watched

Before my clearing stuff it'd print:
[code]

Now all we see is:
[code]
Therefore developers dont get to see whats going on. with our `npm start` script.

[2019-12-15 11:46] lasithdilshan20 opened #100 "Run node command when yaml file change"
In my node project has a several yml files to get data. I need to execute js file when YML file change by the developer.

In my packege.json

`"scripts": {
    "start": "onchange '*.yml' '/cypress/testdata/convertor.js' -- node convertor.js"
  },`

seems like it's not working. Please help

[2019-12-15 16:51] blakeembrey commented on #100
@lasithdilshan20 Can you share a way to replicate what you see. Based on this I wouldn't be able to help you.

[2019-12-15 18:34] greenkeeper[bot] opened #101 "An in-range update of chokidar is breaking the build 🚨"
## The dependency [chokidar](https://github.com/paulmillr/chokidar) was updated from `3.3.0` to `3.3.1`.

🚨 [View failing branch](https://github.com/Qard/onchange/compare/master...Qard:greenkeeper%2Fchokidar-3.3.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

chokidar is a direct dependency of this project, and **it is

[2020-02-19 08:40] ZachSAEON opened #105 "NPM is warning of a security flaw - is this package still maintained?"
One of the dependencies of this package generates a warning for a 'severe' vulnerability that seems to be fixable via simply updating dependency versions.

Is this package still maintained?

[2020-02-19 21:04] blakeembrey commented on #105
Yes, it is still maintained.

[2020-02-19 21:04] #105 closed

[2020-02-19 21:06] blakeembrey commented on #105
Most likely you are commenting on https://github.com/Qard/onchange/pull/102, but since this is a patch release anyway you'd receive these changes if you did `npm install onchange` on any new project, or `npm audit fix`. It's likely due to you having the outdated sub-dependency committed in your `package-lock.json`. I can update this package, for what it's worth, but that wouldn't force you to upda

[2020-02-19 21:08] #100 closed

[2020-04-19 21:01] jaens opened #108 "Unnecessary use of pipes disables terminal features"
`onchange` always pipes the `stdout` of the child process, which causes the child process to think it's not running in a terminal (as that's how most utilities detect whether they are running in on).

This disables useful features such as color highlighting (in log messages etc.).

Ideally, stdout should not be piped unless it's necessary (due to the other command-line options),.

[2020-04-21 04:04] blakeembrey commented on #108
@jaens Wouldn't you always want the output of your executed command to be printed? Changing this would be a backward incompatible change, if I understand what you're asking for. I also believe, but am not 100% familiar, that modules don't detect color based on whether they're being piped, but through `isTTY`. Can you show an example that would be fixed by avoiding piping?

[2020-04-21 04:36] blakeembrey commented on #108
Did a test, this comes down to incorrect options for `stdio` in `spawn`. I can open a PR, it seems to work as expected in the new case.

[2020-04-21 05:08] #108 closed

[2020-04-21 05:12] blakeembrey commented on #108
Released in `6.1.1`, let me know if this resolves your issue!

[2020-04-22 02:59] jaens commented on #108
Yeah, what I meant is exactly what you did - not calling the `.pipe()` method, instead just passing through stdout directly.

Colors (isTTY) works now, thanks!

[2020-04-25 23:19] blakeembrey commented on #85
Looks like this was possibly resolved in chokidar 3.1 according to https://github.com/paulmillr/chokidar#changelog.

[2020-04-25 23:19] #85 closed

[2020-04-25 23:20] #101 closed

[2020-04-27 08:44] dnohr opened #111 "Exclude is not working in 7.0.0"
Hi,

Thanks for working on this tool.

After upgrading to 7.0.0 I'm having issues with never-ending loops due to the exclude doesn't seem to be working anymore. Following code worked fine in all the previous versions:

`onchange 'public/js/*.js' -e '**/all.min.*' -- npm run build-js`

Maybe I couldn't spot it in the release notes, but anything I should change? For now, I rolled back to 6.1.1.

Tha

[2020-04-28 05:31] blakeembrey commented on #111
My bad 🤕 I missed `exclude` in the args. Fixing now.

[2020-04-28 05:37] blakeembrey commented on #111
Fixed with https://github.com/Qard/onchange/releases/tag/v7.0.1

[2020-04-28 05:37] #111 closed

[2020-04-28 05:38] blakeembrey commented on #70
Closing and leaving it up to chokidar to resolve.

[2020-04-28 05:38] #70 closed

[2020-04-28 06:10] dnohr commented on #111
I can confirm it's fixed in 7.0.1, thanks!

[2020-11-03 16:32] cjbarth opened #116 "Multiple replacements failing"
I have a npm script in `package.json` that looks like: `onchange 'src/**/*.ts' -- echo \"{{file}} changed...\" && echo \"{{file}} changed...\"`. The output from this command is only a single line: `myFile.ts changed...`. I expected to lines echoed to the prompt.

Are multiple replacements not supported or am I doing this wrong?

[2020-11-03 16:56] Qard commented on #116
The command after the && would not be received by `onchange`, it's split out at the OS level. If you want to run multiple commands you'll need to put them in a bash script and pass the replacements in as arguments or use `bash -c "..."`.

[2020-11-03 18:38] cjbarth commented on #116
I was trying to prevent multiple copies of `onchange` from running to handle both `prettier` and `eslint` in a cross-platform way. I'll close this issue and just run two copies of `onchange`, but I'm open to suggestions and can see value in a `README` update with such a suggestion too.

Thanks for your help.

[2020-11-03 18:38] #116 closed

[2020-12-30 14:34] exalted commented on #4
Something like this could work: `onchange ./components/breaknotes.yml -- sh -c 'cd ./generators/ && terminal-notifier -message "breaknotes updated"'`

[2021-02-23 02:56] rektide opened #117 "Target multiple file extensions"
Hello. We have a variety of code-bases & for convenience we've been running `onchange 'src/**/*.js' 'src/**/*.jsx' 'src/**/*.ts' 'src/**/*.tsx' -- our_command`.

It'd be nice to have some kind of syntax or option or something to not need to run a bunch of redundant watches like this. If there's an under the hood optimization that makes this ok, that'd be great, but my expectation is that there are

[2021-02-25 16:16] Qard commented on #117
Path patterns are all handled by [picomatch](https://github.com/micromatch/picomatch) so any changes to the string would need to be made there.

[2021-03-16 23:38] icopp opened #118 "Feature request: Run once, then exit"
`onchange` is very close to being usable as a general-purpose file runner across glob matches in a way I haven't seen with other npm tools.

Here's a quick example of the kind of thing I'm looking at, using https://github.com/drwpow/openapi-typescript to use a schema at `docs/whatever.yml` to generate `src/generated/whatever.ts`:

[code]

If there was a flag to only run that once (without actually

[2021-03-17 02:33] blakeembrey commented on #118
This sounds interesting, could be done. We might be able to use this with chokidar by closing the watcher on `ready`, otherwise we could make a PR to `chokidar` or use a different library with the same underlying glob support. I think the flag is only useful in combination with `-a` in this case, does that sound correct?

[2021-03-17 06:41] blakeembrey commented on #117
The patterns that @Qard mentions are the only ones supported. This requirement comes from [chokidar](https://github.com/paulmillr/chokidar) which is the underlying file watcher this library uses. We wouldn't be changing any supported patterns here directly, but you could open an issue against chokidar or picomatch with proposals that we can pull into this package.

That said, it does look like `pi

[2021-03-17 06:41] #117 closed

[2021-03-17 16:42] icopp commented on #118
For this I'd think a new self-contained flag, maybe `-r` for 'run' or something.

[2021-03-18 16:38] Qard commented on #118
I'd prefer something a little more obvious like `--once`, but other than that I like the idea. :)

[2021-05-21 01:57] forivall commented on #118
Yeah, i was just thinking about this feature too -- luckily `--outpipe` solved the need i had for it.

`onchange -v -o 'dot -Tpng | imgcat' *.dot -- cat '{{file}}'` (where `cat '{{file}}' is actually a different command that generates graphviz, but nbd)

The alternative solution using `once` would be
[code]

[2021-05-22 07:05] blakeembrey commented on #118
@forivall Can you help me understand your example a little more? It sounds like a different request from the `while` loop but maybe I don’t understand. Also not clear to me how outpipe helped you exit on ready, which is what @icopp was trying to do - basically run a command with each file as a glob instead of a file watcher.

[2021-08-13 05:10] theajack opened #119 "Why it doesn't work in package.json scripts?"
Onchange works with this cmd

`node .\node_modules\onchange\dist\bin.js -i '**' -- echo '{{event}} to {{file}}''`

![image](https://user-images.githubusercontent.com/23377279/129302559-05f149a4-7b76-45db-8c00-d1e2e9ffd44d.png)

But why it doesn't work in package.json scripts?

![image](https://user-images.githubusercontent.com/23377279/129302604-6db80887-fd82-47f4-aee8-6f88e8cdeef6.png)

![image](

[2021-08-13 07:15] blakeembrey commented on #119
Do you have a reproduction I can use? I pretty much exclusively use this in package.json scripts so I’m not sure the error is in this module.

[2021-08-14 03:03] theajack commented on #119
@blakeembrey Thanks for your reply, I found it might be because of the single quotes I used 😂

[2021-08-14 03:03] #119 closed

[2021-08-14 07:34] blakeembrey commented on #119
Oh interesting, good catch. I don’t use windows often but it’d be because single quotes aren’t a quote character in windows shell. So in Unix the program would be seeing `**`, but windows was seeing `’**’`.

[2021-08-14 07:36] blakeembrey commented on #119
I’m less familiar with the windows environment you screenshot compared to what environment shell scripts execute in. If you know feel free to comment and I can try adding the description to the README.

[2021-11-29 02:21] onetrev opened #120 "Multiple excludes"
Sorry if I'm missing something obvious, I tried this various ways with no luck. Is it possible to have multiple excludes, something like this:

```onchange '**/*.css' '**/*.js' -e 'folder/*.css' 'another-folder/*.js' -- npm run block-compile```

[2021-11-29 21:25] blakeembrey commented on #120
` -e 'folder/*.css' -e 'another-folder/*.js'` - you're missing an extra argument flag.

[2021-11-29 21:25] #120 closed

[2022-01-10 03:42] bakhtiyarneyman opened #121 "Feature request: incremental initial run"
When running with `--initial` run only each file that have been modified since the last invocation.

[2022-01-20 06:45] Klaster1 opened #122 "Doesn't work in PowerShell"
Using the onchange 7.1.0 on Windows 10.

This works in cmd:
[code]

But this doesn't in PowerShell 7.2.1:
[code]
this doesn't either:
[code]
In each sample, after calling `onchange`, a file is changed to trigger the `echo`. If I'm doing something wrong, then what exactly?

[2022-03-06 13:47] rizchaerul commented on #122
Have you tried this? `onchange \"**/*\" -- echo 1`

[2022-03-06 14:06] Klaster1 commented on #122
@rizchaerul doesn't work either:
[code]

[2022-03-06 14:34] rizchaerul commented on #122
I see, I guess we can't do that directly from terminal, only from package.json.

[code]

I tested it using npm run watch and it worked.

[2022-03-06 14:39] Klaster1 commented on #122
Running it with `npm run` does work. Maybe consider updating project readme?

[2022-03-07 03:56] blakeembrey commented on #122
@Klaster1 You're welcome to update the project README using a PR. I'm going to close out this issue since it seems to be resolved, and the resolution appears to be that you can't use single quotes in PowerShell. I've never used PowerShell to confirm how the shell works but if double quotes usually work you can just use them. There's nothing saying you need to use single or double quotes, it depend

[2022-03-07 03:56] #122 closed

[2022-03-07 04:00] blakeembrey commented on #122
I'm a little confused too because PowerShell docs mention they work the same way: https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_quoting_rules?view=powershell-7.2&viewFallbackFrom=powershell-6.

[2022-03-26 16:19] hatton opened #123 "Run once, then stop"
I've been unable to find an npm glob cli command that has these killer onchange's features:
* cross-platform globbing
* `{{fileDir}}` allows nested files to be easily output while retaining their folder structure

So I would love a mode (e.g. `--once`) where I can use onchange without watching. I feel bad for requesting this because it's arguably out of scope, but it would be exceptionally helpful

[2022-03-28 13:59] hatton commented on #123
🤦 Duplicate of https://github.com/Qard/onchange/issues/118

[2022-03-28 13:59] #123 closed

[2022-03-28 14:35] makandre opened #124 "Question: What is the difference between -a and -i"
The -a and -i both seem to run the command once on startup, what's the difference?

[2022-05-07 03:21] fotoflo opened #125 "Add discussion of resource consumption in readme.md"
Hello,
 How much resources does this utility use? How does it acheieve the watch in various envirnments?

  I think this would be a common concern and suggest adding some discussion in the Readme file

Best,

[2022-05-07 03:25] fotoflo commented on #125
After a second look at the code i found it uses chokidar

A "Minimal and efficient cross-platform file watching library"

"On MacOS, chokidar by default uses a native extension exposing the Darwin FSEvents API. This provides very efficient recursive watching compared with implementations like kqueue available on most *nix platforms. Chokidar still does have to do some work to normalize the events

[2022-05-07 03:25] #125 closed

[2022-06-08 03:50] IceApriler opened #127 "What I want to do is execute some other script after the file has changed and "prettier" formatted"
[code]
Hello, What I want to do is execute some other script after the file has changed and "prettier" formatted. What should I do?

[2022-06-14 21:05] blakeembrey commented on #127
There's a similar answer here: https://github.com/Qard/onchange/issues/4#issuecomment-752642333. The approach is to basically write what you want as a shell script. You might also be able to use `-o` for this but I haven't tested it.

[2022-06-14 21:05] #127 closed

[2022-08-24 02:56] #79 closed

[2022-10-30 15:21] alecarg opened #128 "Example of config.json?"
Delete; misread the docs

[2022-10-30 15:25] #128 closed

[2022-10-30 18:20] alecarg commented on #49
While the above didn't work for me, using `nodemon` did:

[code]
and

[code]